---
import BaseLayout from "../layouts/BaseLayout.astro";
import FeaturedProjects from "../components/FeaturedProjects.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Main Projects</div>
  </div>

  <FeaturedProjects />
</BaseLayout>
